<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
</head>
<h1>Firebase Test</h1>
<p>Firebase console에 데이터가 추가 되었는지 확인하세요</p>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDrUrIDLodsMJiZcS0Nb8gaFtuMdtiiCZ4",
        authDomain: "board-1774c.firebaseapp.com",
        databaseURL: "https://board-1774c.firebaseio.com",
        projectId: "board-1774c",
        storageBucket: "board-1774c.appspot.com",
        messagingSenderId: "811328743678",
        appId: "1:811328743678:web:0b22b8626d8499e91f5daf",
        measurementId: "G-F81J1DTRTD"
    };
    firebase.initializeApp(config);

    var newPostKey = firebase
        .database()
        .ref()
        .child('posts')
        .push()
        .key;

    var postData = {
        brdno: newPostKey,
        brdwriter: "홍길동",
        brdtitle: "게시판 제목",
        brdmemo: "게시물 내용",
        brddate: Date.now()
    };

    var updates = {};
    updates['/board/' + newPostKey] = postData;

    firebase
        .database()
        .ref()
        .update(updates);
</script>