<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Screenshot Capture Tool</title>

		<link type="text/css" href="/js/capture-plugin/css/custom.css" rel="stylesheet"/>

		<script src="/js/capture-plugin/js/jquery.js"></script>
		<script src="/js/capture-plugin/js/canvasPaint.js"></script>
		<script src="/js/capture-plugin/js/edit.js"></script>

	</head>
	<body>
		<div class="outer-wrapper">
			<div id="wrapper">
				<div id="panel" class="left-section">
	
					<div id="photo">
						<img id="imageedit" src="">
						<div id="loadingDiv">Please wait!</div>
						<div id="editcanva" style="display: none;"></div>
					</div>
	
				</div>
				<div class="right-section">
					<div class="image_details">
						<h1><img src="/js/capture-plugin/images/capture.png" height="30" /><span>Capture information</span></h1>
						<ul>
							<li><span>Name: </span><div class="image_details_text" id="image_name"><input type="textbox" id="image_name_text" name="image_name_text" /><div id="filename_ext" style="display: none;"></div></div></li>
							<li><span>Dimensions: </span><div class="image_details_text" id="image_dimensions"></div></li>
							<li><span>Size: </span><div class="image_details_text" id="image_size"></div></li>
							<li><span>URL: </span><div class="image_details_text" id="image_url"></div></li>
							<li><span>Date: </span><div class="image_details_text" id="image_date"></div></li>
						</ul>
					</div>
					<button class="theme-btn save-btn" id="save-image">
						<div class="icon"></div>
						<span>Download</span>
					</button>
					<div id="loader" style="margin-top: -192.5%; margin-left: 50%;float: left;"><img src="/js/capture-plugin/images/Loading_Placeholder.png" height="250" /></div>
					<div id="bannerNoConnection" style="display: none;margin-top: 10px;  float: left;margin-bottom: 245px;"><img src="/js/capture-plugin/images/noConnectionBanner.png" width="252" height="250" /></div>
				</div>
			</div>
			<div id="background">
				<div id="save-img">
					<div class="save_screenshot_block">
						<a id="imgfordownload" class="download_screenshot" href="#" download="screencapture"></a>
					</div>
	
				</div>
				</li>
			</ul>
		</div>
	</body>
</html>
